<label>
  <input
    checked
    type="checkbox"
    value={{resolveSuccessfully}}
    onclick={{action (mut resolveSuccessfully) value="target.checked"}}>
    Resolve successfully
</label>

<br>

Delay:

<input
  type="number"
  value={{promiseDelay}}
  oninput={{action (mut promiseDelay) value="target.value"}}>

<button {{action 'loadItems'}}>Load items</button>

<hr>

{{items-list items-promise=promiseForItems}}